@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  

  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    
  }

  #content{
    max-width: 1200px;
    margin: 0 auto;
  }
  /*Header*/

  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .logo {
    font-size: 1.5em;
  }
  
  /*Nav*/

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
 
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
 /*Main*/
  main {
   
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .article {
    margin-bottom: 30px;
  }
  
 
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
  }
  
 
  h1, h2, h3 {
    color: #333;
  }
  

  p {
    margin-bottom: 15px;
  }
  
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  .conclusion, .bibliography {
    margin-top: 30px;
  }
  
  
  .bibliography {
    font-style: italic;
  }
  
  
   .introduction img, .contrast img, .repetition img, .alignment img, .proximity img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
  margin-right: auto; /

    
  }
/*Footer*/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }

  

  
  