@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


:root{
    --grey: rgb(126, 124, 124);
    --orange: rgb(252, 165, 4);
    --blue: blue;
    --white: #fff;
    --navy-blue: #06283D;
    --yellow: #FFCA03;
}

body, html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5;
    
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

h1{
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.4rem;
}

/**********
1. Header
***********/
.headerContent {
    text-align: center;
}
  
.studentPhoto {
    display: inline-block;
}
  
.name{
    background-color: var(--grey);
    padding: 4rem;
}

.studentPhoto img{
    width: 15%;
    
}
/**********
2. Menu - navigation
***********/

.firstNav{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firstNav li{
    padding: 1rem;
    font-size: 2rem;
    list-style: none;
}

.firstNav li a{
    text-decoration: none;
}

.firstNav li a:hover{
    color: var(--orange);
}

.toggleMenu{
    width: 40px;
    cursor: pointer;
    margin-top: 2rem;
    
}

.toggleMenu img{
    max-width: 100%;
}



.hidden {
    display: none;
}


/**********
3. Tasks menu
***********/

.firstCard{
    text-align: center;
}

.secondNav li{
    margin-bottom: 2rem;
    margin-top: 5rem;
    list-style: none;   
}

.secondNav li p{
    font-family: 'roboto' sans-serif;
    font-size: 2rem;
    color: var(--blue);
}

.secondNav li a{
    text-decoration: none;
    font-size: 2rem;
    
}

.secondNav li a:hover{
    color: var(--orange);
}

.fa-lock{
    color: var(--orange);
    margin-left: 1rem ;
}

/**********
1. Information Section
***********/
.secondCard{
    margin-top: 5rem;
}


.secondCard h3{
    text-align: center;
    font-family: 'roboto' sans-serif;
    font-size: 3rem;
}

/* a. Views
*/
.views{
    text-align: center;
}
.views img{
    width: 10%;
}

.views p{
    font-size: 2rem;
    font-family: 'roboto' sans-serif;
    
}

/* b. Weather app
*/

.weather{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.weather__container{
    position: relative;
    width: 60rem;
    height: 10rem;
    background: var(--white);
    padding: 2.8rem 3.2rem;
    overflow: hidden;
    font-family: 'Roboto' sans-serif;
    transition: .6s ease-out;
    border-radius: 2rem;
}

.weather__container__searchBox{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.weather__container__searchBox input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border: none;
    outline: none;
}


.weather__container__searchBox input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: var(--yellow);
    text-transform: capitalize;
}

.weather__container__searchBox button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: var(--yellow);
    background: var(--white);
    border-radius: 50%;
    border-color: var(--yellow);
    font-size: 22px;
    transition: 0.4s ease;
}

.weather__container__searchBox button:hover{
    color: var(--white);
    background: var(--navy-blue);
}

.weather__container__searchBox i{
    position: absolute;
    color: var(--navy-blue);
    font-size: 28px;
}

.weather__box{
    text-align: center;
}

.weather__box img{
    width: 20%;
    margin-top: 30px;
}

.weather__box .temperature{
    position: relative;
    color: var(--navy-blue);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather__box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather__box .description{
    color: var(--navy-blue);
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}


.weather__details{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.weather__details .weather__details__humidity{
    grid-column: 1 / span 1;
    place-self: center;
}
.weather__details .weather__details__wind{
    grid-column: 2 / span 1;
    place-self: center;
}
.weather__details .weather__details__feelsLike{
    grid-column: 3 / span 1;
    place-self: center;
}

.weather__details i{
    color: var(--navy-blue);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather__details span{
    color: var(--navy-blue);
    font-size: 22px;
    font-weight: 500;
}

.weather__details p{
    color: var(--navy-blue);
    font-size: 14px;
    font-weight: 500;
}

.weather__notFound{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.weather__notFound img{
    width: 43%;
}


.weather__notFound p{
    color: var(--navy-blue);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather__box, .weather__details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

footer {
    text-align: center;
    background: var(--grey);
    padding: .1rem;
    margin-top: 2rem;
    
}

footer img{
    width: 1.6rem;
    margin-left: 1rem;
}